*{
    padding: 0;
    margin: 0;
    font-size: 14px;

}
.header{
    /* background-color: pink; */
    height: 60px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: purple; */
}

.left-title{
    margin-left: 20px;
}

.header-right{
    /* background-color: rosybrown; */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.right-title{
    margin-right: 10px;
}

.button{
    color: white;
    background-color: royalblue;
    border: 0;
    border-radius: 3px;
}

.center{
    height: calc(100vh - 60px - 60px);
    /* background-color: wheat; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search{
    display: flex;
    flex-direction: row;
}


.input{
    width: 536px;
    height: 42px;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid gray;
}

.baidu-button{
    width: 107px;
    height: 44px;
    color: white;
    background-color: #315efb;
    border: 0;
    border-radius: 0px 10px 10px 0px;
}

.baidu-button:hover{
    background-color: darkblue;
}

.footer{
    /* background-color: wheat; */
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.footer-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: purple; */
}

.footer-right{
    /* background-color: rosybrown; */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}