*{
    margin: 0px;
    padding: 0px;
}
.header{
    width: 100%;
    height: 50px;
    /* background-color: pink; */
}


.ul1-li{
    list-style: none;
    float: left;
    margin-left: 32px;
    line-height: 50px;
    font-size: 15px;
}

.ul1-li1{
    list-style: none;
    float: left;
    line-height: 50px;
    font-size: 15px;
    margin-left: 25px;
}

.ul2-li{
    list-style: none;
    float: right;
    font-size: 15px;
    line-height: 50px;
    margin-right: 25px;
}

.ul2-li1{
    list-style: none;
    float: right;
    line-height: 50px;
    font-size: 15px;
    margin-right: 25px;
}

a{
    text-decoration: none;
}

.header a:link{
    color: black;
}

.header a:visited{
    color:black;
}

.header a:hover{
    color: #315efb;
}

#ul2-li-a:link{
    color: red;
}

#ul2-li-a:visited{
    color: red;
}

#ul2-li-a:hover{
    color: #315efb;
}

.div1{
    width: 100%;
    height: calc(100vh - 100px);
    /* background-color: greenyellow; */
}

.div2{
    text-align: center;
}



#input{
    width: 536px;
    height: 42px;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid gray;
}

#button{
    width: 107px;
    height: 44px;
    color: white;
    background-color: #315efb;
    border: 0;
    border-radius: 0px 10px 10px 0px;
}


.footer{
    width: 100%;
    height: 50px;
    /* background-color: pink; */
}

.footer a:link{
    color: gray;
}

.footer a:visited{
    color:gray;
}

.footer a:hover{
    color: black;
}

.ul3-li{
    list-style: none;
    float: left;
    margin-left: 20px;
    line-height: 50px;
    font-size: 10px;
}

.ul3-li1{
    list-style: none;
    float: left;
    line-height: 50px;
    font-size: 10px;
    margin-left: 25px;
}

.ul4-li{
    list-style: none;
    float: right;
    line-height: 50px;
    margin-right: 25px;
    font-size: 10px;
}

.ul4-li1{
    list-style: none;
    float: right;
    line-height: 50px;
    font-size: 10px;
    margin-right: 25px;
}


