/* *{
    margin: 0;
    padding: 0;
} */
body{
    background-color: rgb(0, 0, 0);
}
.parent{
    width: 500px;
    height: 700px;
    /* border: 1px solid black; */
    margin: 0 auto;
    margin-top: 500px;
    position: relative;
    animation: heartbeat 0.5s infinite ;
}

.child_left{
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    left: 80px;
    position: absolute;
}

.child_right{
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    right: 80px;
    position: absolute;
}

.child_bottom{
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    top: 70px;
    left: 150px;
    transform: rotate(45deg);
}

@keyframes heartbeat{
    from{}
    to{
        transform: scale(1.2);
    }
}